 .container-product {
background:black;
margin:5px auto;
padding:15px 0;
}

article {
padding: 4px;
display:flex;
flex-direction:column;
justify-items:center;
align-items:center;
gap:2px;
}

li {
    list-style: none;
}

.description {
background:#656199;
text-align:left;
line-height:2em;
padding:0.6em 2em;
border-radius:20px;
margin-right:20px;
}

.price {
background:#0080003d;
margin-top:10px;
margin-right:20px;
margin-bottom:10px;
padding:5px;
}
